<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Home</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                {% if user.is_staff > 0 or user.is_superuser > 0%}
                    <li><a href="/admin">admin</a></li>
                {% endif %}
                {% if user.is_authenticated %}
                <li><a href="{% url 'account_logout' %}"><span class="sr-only">(logout)</span>logout</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">profile <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{% url 'account_change_password' %}">change password</a></li>
                        <li><a href="#">개인정보 수정</a></li>
                        <li><a href="#">타로티</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
                {% else %}
                    <li><a href="{% url 'account_login' %}">login</a></li>
                    <li><a href="{% url 'account_signup' %}">sign up</a></li>
                    {% load socialaccount %}
                    <li><a href="{% provider_login_url "facebook" method="oauth2" %}">Facebook OAuth2</a></li>
                    <li><a href="{% provider_login_url "google" method="oauth2" %}">google OAuth2</a></li>
                {% endif %}
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
            </ul>
{#            <form class="navbar-form navbar-left" role="search">#}
{#                <div class="form-group">#}
{#                    <input type="text" class="form-control" placeholder="Search">#}
{#                </div>#}
{#                <button type="submit" class="btn btn-default">Submit</button>#}
{#            </form>#}
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'entry-list' 'freeboard' %}">자유게시판</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>